body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('Resources/bgwacp.webp');
  color: #f9f9f9;
  line-height: 1.6;
}
html {
  scroll-behavior: smooth;
}
.container {
  background-image: url("Resources/bgufc3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 20px;

  position: relative;

  border: 0px solid rgba(0, 0, 0, 0.705);

 box-shadow: 
  inset 5px 5px 15px rgb(0, 0, 0),
  inset -5px -5px 15px rgb(255, 255, 255);
}
header {
  position: relative; 
  overflow: hidden;  
  background-color: #ff4400;
  color: #ffd700;
  font-family: 'Luckies Guy', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 60px 20px;
  text-align: center;
  text-shadow: 
        -2px -2px 0 #8B0000,  
         2px -2px 0 #8B0000,
        -2px  2px 0 #8B0000,
         2px  2px 0 #8B0000,
         4px  4px 10px rgba(0,0,0,0.3); 
  box-shadow:
  inset -2px -2px 20px  rgba(0,0,0,0.6);
}
.slogan {
    font-family: 'Caveat', cursive;
    font-size: 28px;
    color: #FFFFFF; 
    font-weight: 400;
    margin-top: 10px;
}
.floating-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
.icon {
    position: absolute;
    font-size: 30px;
    opacity: 0.15; /* Tipis-tipis saja */
    filter: grayscale(100%) brightness(200%); /* Biar warnanya nyatu sama BG */
    animation: float 10s infinite ease-in-out;
}
.i1 { top: 10%; left: 10%; animation-delay: 0s; }
.i2 { top: 70%; left: 20%; animation-delay: 2s; }
.i3 { top: 20%; right: 15%; animation-delay: 4s; }
.i4 { top: 60%; right: 25%; animation-delay: 1s; }
@keyframes float {
    0%, 100% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-20px) rotate(10deg); }
}
.header-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center;
    text-align: center; 
}
.header-content h1 {
  font-size: 5rem;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}
.header-content p {
  font-size: 1.5rem; 
  margin-top: 10px;
  letter-spacing: 2px; 
}
.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: #ffd700;
  animation: bounce 2s infinite;
  cursor: pointer; 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateX(-50%) translateY(0);}
    40% {transform: translateX(-50%) translateY(-10px);}
    60% {transform: translateX(-50%) translateY(-5px);}
}
.search-box {
    display: flex;
    background: white;
    padding: 6px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    width: 90%;           
    max-width: 500px;      
    margin: 20px auto 0 auto; 
}
.search-box:focus-within {
    border-color: #ffd700;
    transform: translateY(-2px);
}
.search-box input {
    flex: 1;
    border: none;
    padding: 12px 20px;
    outline: none;
    font-size: 1.1rem;
    color: #333;
    background: transparent;
}
.search-box button {
    background-color: #c21a00;
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s ease;
}
.search-box button:hover {
    background-color: #ff2301; 
    color: #ffd700;
}
nav {
  background-color: #ffd700;
  text-align: center;
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
nav a {
  color: #121212;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
nav a {
  padding: 8px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
nav a:hover {
  background-color: #121212; 
  color: #ffd700; 
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #ffd700; 
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1000;
  top: 100%; 
  left: 0;
  border-radius: 0 0 10px 10px;
}
.dropdown-content a {
  color: #121212;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: black;
  color: #ffd700;
}
.nested-dropdown {
  position: relative;
}
.nested-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #ffd700;
  min-width: 150px;
  box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
  border-radius: 0 10px 10px 10px;
}
.nested-content a {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.nested-content a:last-child {
  border-bottom: none;
}
.dropdown-content.show, 
.nested-content.show {
  display: block;
}
.dropbtn, .nested-btn {
  cursor: pointer;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  color: #ffd700;
}
.menu-item {
  margin: 0 auto 20px; 
  max-width: 800px;
  background: #7a7a7ac5;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 5px solid #ff4400;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  scroll-margin-top: 80px;
  transition: all 0.3s ease-in-out; 
  cursor: pointer;
}
.menu-item:hover {
  transform: translateY(-8px) scale(1.02); 
  
  border-left: 5px solid #ffd700; 
  box-shadow: 0 10px 25px rgba(255, 234, 0, 0.6); 
 
  background: #7a7a7a82;
}
.menu-item:hover button {
 background-color: #ffd700;
}
.menu-item:hover .menu-slider-container {
    transform: scale(1.1);
    border-color: #ffd700;
    box-shadow: 0 0 15px #ffd700;
    transition: 0.3s ease-in-out;
}
.menu-slider-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #ff4400;
    box-shadow: 0 0 10px #ff4400;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
    flex-shrink: 0;
}
.menu-slider-track {
  --lebar: 80px;
    --n: 2;
    display: flex;
    /* Lebar total = lebar 1 foto x (jumlah foto x 2) */
    width: calc(var(--lebar) * var(--n) * 2); 
    animation: slideMenu 12s linear infinite;
}
.menu-slider-track img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
@keyframes slideMenu {
    0% { transform: translateX(0); }
    100% { 
        /* Geser sejauh jumlah foto asli ke kiri */
        transform: translateX(calc(var(--lebar) * var(--n) * -1)); 
    }
}
.menu-item:hover .menu-text h3 {
  color: #ffd700;
  transition: 0.3s;
}
.menu-text {
    flex: 1;
    padding-right: 20px;
}
.menu-text h3 {
    margin: 0;
    color: #ff4400;
}
.menu-text p {
  margin: 5px 0 0;
  font-weight: 400;
  line-height: 1.4;
  font-size: 0.9rem;
  color: #eeeeee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8)
}
.menu-action {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.harga {
  font-weight: bold;
  color: #25D366;
  font-size: 1.1rem;
}
.menu-wrapper {
    display: block;
    padding: 20px 0;
}
.menu-item {
    margin: 0 auto 20px;
    max-width: 800px;
    display: flex; /* Konten di dalam menu tetap menyamping (gambar kiri, teks kanan) */
    flex-direction: row; 
    transition: opacity 0.3s ease, transform 0.3s ease;
}
button {
  background-color: #ff4400;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Efek membal */;
  position: relative;
  overflow: hidden;
}
button:hover{
  background-color: #ff2301;
  box-shadow: 0 4px 15px rgba(255, 68, 0, 0.4);
  transform: translateY(-2px)
}
.menu-item button:hover {
    transform: scale(1.1) translateY(-3px);
    background-color: #25D366;
}
button:active {
  transform: scale(0.95);
}
.cara-pesan {
   margin: 0 auto; 
   max-width: 800px;
}
.wa-box {
  text-align: center;
  padding: 40px 20px;
  background: #1e1e1e;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.whatsapp-btn {
  display: inline-block;
  background-color: #25D366;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: 0 0 15px #25D366;
  transition: 0.3s;
}
.whatsapp-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #25D366;
}
#keranjang {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 400px;
    background: #25D366;
    color: white;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    z-index: 9999;
}

.ker-konten {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 5px;
}

.icon-keranjang {
    margin-right: 8px;
    font-size: 1.2rem;
    color: #fff;
}


.zona-tengah {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    gap: 5px;
    font-weight: bold;
    background: rgba(0,0,0,0.1);
    padding: 5px 15px;
    border-radius: 30px;
    white-space: nowrap;
}
.btn-minus {
    background: rgba(255, 255, 255, 0.2); /* Kasih sedikit bg biar kelihatan batasnya */
    border: none;
    color: white !important;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-minus:hover { 
    background-color: #ff4400 !important; 
    transform: scale(1.2);
}
.btn-reset {
    background: #ff0000;
    border: none;
    color: white !important;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
}
.btn-reset:hover { 
    background-color: #c21a00 !important; 
    transform: scale(1.1);
}
.btn-reset i, .btn-minus i {
    color: white !important;
    font-size: 16px;
}
.co-btn {
    background: white !important;
    color: #25D366 !important;
    border: none;
    padding: 10px 20px !important;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    animation: mantul 2s infinite; 
    box-shadow: 0 0 10px rgba(37, 211, 102, 0.5);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.co-btn:hover {
   
    animation: none; 
    
    
    transform: scale(1.2); 
    
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #f0f0f0 !important; 
}
.co-btn:active {
    transform: scale(0.95); 
}
@keyframes mantul {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); 
    }
    40% {
        transform: translateY(-5px); 
    }
    60% {
        transform: translateY(-3px);
    }
}
@keyframes ker-mantul{
  0%, 100% { transform: translateX(-50%) scale(1); }
  50% { transform: translateX(-50%) scale(1.1);}
}
.ker-update {
animation: ker-mantul 0.4s ease-in-out;
}
footer {
  background-color: #ff4400;
  color: #ffffff;
  padding: 50px 10% 20px 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* kalau layar kecil, kolomnya turun ke bawah */
  gap: 30px;
  
}
.footer-brand .logo {
  color: #ffd700;
  margin-bottom: 20px;
}
.social-icons {
    display: flex;   
    justify-content: center; 
    align-items: center; 
    list-style: none;    
    padding: 0;          
    margin: 0;           
    gap: 15px;           
}
.social-icons li {
    list-style: none; 
    display: inline;   
}
.social-icons a {
    color: white;
    font-size: 24px;
    transition: 0.3s;
    text-decoration: none; 
}
.social-icons a:hover {
  color: #ffd700;
}
.footer-links h3 {
  color: #ffd700;
  margin-bottom: 20px;
  font-size: 18px;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links ul li {
  margin-bottom: 10px;
}
.footer-links ul li a {
  color: #e0e0e0;
  text-decoration: none;
  transition: 0.3s;
}
.footer-links ul li a:hover {
  text-decoration: underline;
  color: white;
}
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffd700;
  font-size: 14px;
}
/* NAVIGASI */
.dropdown-content, .nested-content {
  display: none;
}
/* MODE DESKTOP */
@media (min-width: 769px) {
  .dropdown:hover > .dropdown-content {
    display: block;
  }
  
  .nested-dropdown:hover > .nested-content {
    display: block;
  }
  
  .dropbtn, .nested-btn {
    cursor: default;
  }
}
/* MODE HP */
.show-mobile {
  display: block !important;
}
@media (max-width: 768px) {
  header {
    padding: 40px 15px;
    font-size: 32px;
  }
    .header-content h1 { 
      font-size: 2.5rem !important;
      line-height: 1.2;
      margin-bottom: 10px;
    }
    .header-content p { 
    font-size: 0.9rem !important; 
    letter-spacing: 1px;
    }
    .slogan {
      font-size: 20px !important;
      margin-top: 5px;
    }
    .search-box {
      width: 100%;
      margin-top: 15px;
      flex-direction: row;
    }
    .search-box input {
      padding: 8px;
      font-size: 0.9rem;
    }
    .search-box button {
      padding: 8px 15px;
      font-size: 0.8rem;
    }
  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 15px 5px;
    justify-content: center;
    position: sticky;
  }
  nav a {
    margin: 0;
    padding: 8px 12px;
    font-size: 0.85rem;
    flex: 0 1 auto;
    text-align: center;
  }
  .dropdown {
    display: flex;
    justify-content: center;
    width: auto;
  }
  .dropdown-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: max-content;
    min-width: 160px;
    box-shadow: 0 8 16rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    border-radius: 8px;
    background-color: #ffd700;
  }
  .nested-content {
    position: static;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    transform: none;
  }
.menu-wrapper {
        display: flex;            
        overflow-x: auto;         
        gap: 15px;                
        padding: 20px 10px;       
        scroll-snap-type: x mandatory; 
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }
    .menu-wrapper::-webkit-scrollbar {
        display: none;
    }
    .menu-item {
        /* agar menu berjejer ke samping di HP */
        flex: 0 0 280px; 
        flex-direction: column; /* Di HP isi menu susun ke bawah. Gambar atas, teks bawah */
        text-align: center;
        scroll-snap-align: center;
        margin-bottom: 0; 
        padding: 25px;
    }
     .menu-slider-container {
        width: 120px;
        height: 120px;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .menu-slider-track {
        --lebar: 120px; /* Otomatis update semua slider di HP */
    }
    .menu-slider-track img {
        width: 120px;
        height: 120px;
    }
    @keyframes slideMenu {
        0% { transform: translateX(0); }
        100% { transform: translateX(-240px); }
    }
    .menu-text { padding-right: 0; margin-bottom: 15px; }
    .menu-action { align-items: center; width: 100%; }
    .icon-keranjang {
        display: none;
    }
    .zona-tengah {
        font-size: 0.8rem;
        padding: 5px 8px;
    }
    .co-btn {
        padding: 8px 12px !important;
        font-size: 0.8rem;
    }
    button { width: 100%; padding: 12px; }
    .footer-container {
    flex-direction: column;
    text-align: center;
  }
}